language: node_js
node_js:
  - "8.11.3"
script:
- NODE_ENV='development' npm run eslint
- NODE_ENV='development' npm test
- NODE_ENV='test' npm run coverage
- npm run coveralls
- npm run docs
- docker-compose up